<div class="list-group container my-5">
    {{#each data}}
    <a href='/app/blogpost/{{this.srum}}' class="list-group-item fs-3 list-group-item-action  me-auto  " aria-current="true">
        {{this.title}}
    </a>
   
    {{/each}}
</div>




