<div class="p-3 mb-2 bg-dark text-white bg-gradient">


    <h3>Hi Friends, <br>
        I am here . Actually I want to say  this is made in <strong style="color: #d6a8a8 ;">Express Node  Express-Handlebars and deploy on Heroku </strong> </h3>
        <br>
        Check <span style="color: #d6a8a8 ;"> BLOG</span>
</div>